// .half-page {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   background-color: #CDCDCD;
// }

html body {
  font-family: $header-font;
  color: #383838;
  background-color: #ededed;
  h1, h2, h3 {
    font-family: $base-font;
  }
  p {
    font-size: 16px;
  }
  ul {
    letter-spacing: 0.5px;
  }
}

.page-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-bottom: 24px;
}
.skills {
  background-color: #acced4;
  color: white;
  margin: 16px;
}

.btn:focus {
  outline: 0;
}

.btn-line {
  border: 1px solid #acced4;
  color: #acced4;


  &:hover {
    opacity: 0.5;
    color: #acced4;
  }
}

.list-styled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-content {
  //margin: 24px;
  display: flex;
  background-color: blue($color: #000000);
  min-height: 100%;
  margin: 32px;
}

.project-img {
  width: 350px;
  height: 500px;
  margin: 0 auto;
  padding: 24px;
}

.project-info {
  padding: 24px;
  width: 400px;
  flex-grow: 1;
}

.project-img-lg {
  width: 500px;
  margin: 0 auto;
}

.text-clear {
  color: #848484;
  opacity: 0.5;
}

// .carousel .item {
//   height: 300px;
  
// }

// .item img {
//     position: absolute;
//     object-fit: cover;
//     top: 0;
//     left: 0;
//     min-height: 100px;
//     max-width: 400px;
// }

.slide-tall {
  height: 480px;
  width: 200px;
}

.slide-short {
  height: 400px;
  width: 530px;
}
