---
title: Le Wagon Middleman boilerplate
---

<div class="page-container">
  <div class="title-center">
    <!-- profile image -->
    <h1>Noemi Ashizuka</h1>
    <h2>Web Developer in Tokyo</h2>
  </div>
  <div class="bio-long">
    <p>Something about myself</p>
    <!-- dropdown -->
    <div class="skills-container">
      <div class="skills">
        <ul class="list-styled">
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS/SCSS</li>
        </ul>
      </div>
      <!-- dropdown -->
      <div class="skills">
        <ul class="list-styled">
          <li>Communication</li>
          <li>Leadership</li>
          <li>Reliability</li>
          <li>English(Fluent)</li>
          <li>Japanese(JLPT N3)</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="half-page">
    <!-- project 1 -->
    <div class="project-content">
      <div class="project-img">
        <!-- image carousel -->
        <%= partial('carousel', locals: { carouselControls: 'carousel_cc', image1: 'cc_home.png', image2: 'cc_profile.png', image3: 'cc_look.png', image4: 'cc_look_show.png', class_set: 'd-block w-100 slide-tall'}) %>
      </div>
      <div class="project-info">
        <h1>Clever Closet</h1>
        <h3>Ruby on Rails, HTMl, SCSS, JavaScript</h3>
        <p>Description</p>
      </div>
    </div>
    <!-- project 2 -->
    <div class="project-content">
      <div class="project-info">
        <h1>Title</h1>
        <h3>Languages</h3>
        <p>Description</p>
      </div>
      <div class="project-img-lg">
        <!-- image carousel -->
        <%= partial('carousel', locals: { carouselControls: 'carousel_obi', image1: 'obi_home.png', image2: 'obi_listings.png', image3: 'obi_home.png', image4: 'obi_listings.png', class_set: 'd-block w-100 slide-short'}) %>
      </div>
    </div>
    <!-- project 3 -->
    <div class="project-content">
      <div class="project-info">
        <h1>Title</h1>
        <h3>Languages</h3>
        <p>Description</p>
      </div>
        <div class="project-img-lg">
        <!-- image carousel -->
        </div>
      </div>
    </div>
  </div> <!--half-page(column) -->
</div><!-- .welcome -->
